<?xml version="1.0" encoding="UTF-8"?>
<web-app >
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:sqlserver://localhost; DatabaseName=liuyanjun</param-value>
    </context-param>
    <context-param>
        <param-name>Username</param-name>
        <param-value>LYJ</param-value>
    </context-param>
    <context-param>
        <param-name>Password</param-name>
        <param-value>1008611</param-value>
    </context-param>
    <!--add about servlet-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name><!--这里你能使用任何名字-->
        <servlet-class>com.liuyanjun.week3.demo.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDBCDomeServlet</servlet-name>
        <servlet-class>com.liuyanjun.week4.JDBCDomeServlet</servlet-class>
    </servlet>
    <!--automatic code-->

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern> <!--write this url action-->
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>week2/register.jsp</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>JDBCDomeServlet</servlet-name>
        <url-pattern>/jdbc</url-pattern> <!--write this url action-->
    </servlet-mapping>
    <!--    <servlet>-->
    <!--        <servlet-name>Config</servlet-name>-->
    <!--        <servlet-class>com.liuyanjun.week4.ConfigDomeServlet</servlet-class>-->
    <!--        <init-param>-->
    <!--            <param-name>name</param-name>-->
    <!--            <param-value>liuyanjun</param-value>-->
    <!--        </init-param>-->
    <!--        <init-param>-->
    <!--            <param-name>studentId</param-name>-->
    <!--            <param-value>2020211001001325</param-value>-->
    <!--        </init-param>-->
    <!--    </servlet>-->
    <!--    <servlet-mapping>-->
    <!--        <servlet-name>Config</servlet-name>-->
    <!--        <url-pattern>/config</url-pattern>-->
    <!--    </servlet-mapping>-->
</web-app>