<?xml version="1.0" encoding="UTF-8"?>
<web-app >
    <!--add about servlet-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name><!--这里你能使用任何名字-->
        <servlet-class>com.liuyanjun.week3.demo.RegisterServlet</servlet-class>
    </servlet>
    <!--automatic code-->

    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern> <!--write this url action-->
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>week2/register.jsp</welcome-file>
    </welcome-file-list>
</web-app>